{% extends "base_page.html" %}

{% load static i18n wagtailcore_tags wagtailmetadata_tags wagtailimages_tags %}

{% block breadcrumb %}
{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="search-hero">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <div class="search-hero__container">
                    <h1 class="tna-heading-xl search-hero__heading">Explore UK community history</h1>
                    <form action="/search/catalogue" method="GET" class="search-hero__form" id="analytics-search-landing-hero">
                        <label for="id_q" class="search-hero__label">
                            <span class="sr-only">Enter search term.</span> Our Heritage, Our Stories brings together community and archive collections in one place.<br>
                            Search by keyword, person, or location, or hit search.
                        </label>
                        {{ form.q.errors }}
                        {{ form.q }}
                        <input type="submit" value="Search" class="search-hero__form-submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="tna-section">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading tna-heading--l">
                    Use interactive tools to explore community collections
                </h2>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'scripts/home_page.js' %}"></script>
{% endblock %}
