{% extends "base_page.html" %}

{% load static i18n wagtailcore_tags wagtailmetadata_tags wagtailimages_tags %}

{% block breadcrumb %}
{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="search-hero">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <div class="search-hero__container">
                    <h1 class="tna-heading-xl search-hero__heading">Explore UK community history</h1>
                    <form action="/search/catalogue" method="GET" class="search-hero__form" id="analytics-search-landing-hero">
                        <label for="id_q" class="search-hero__label">
                            <span class="sr-only">Enter search term.</span> Our Heritage, Our Stories brings together community and archive collections in one place.<br>
                            Search by keyword, person, or location, or hit search.
                        </label>
                        {{ form.q.errors }}
                        {{ form.q }}
                        <input type="submit" value="Search" class="search-hero__form-submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="tna-section interactive-choice">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading tna-heading--l">
                    Use interactive tools to explore community collections
                </h2>
                <div class="block-featuredarticles">
                    <div class="featured-articles">
                        <ul class="card-group--list-style-none" data-card-position="0">
                            <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
                                <div class="tna-card" data-module="tna-card">
                                    <div class="tna-card__inner">
                                        <hgroup class="tna-hgroup-s tna-card__heading">

                                            <h3 class="tna-hgroup__title">
                                                <a
                                                        href="/search/catalogue/?group=community&vis_view=map"
                                                        class="tna-card__heading-link"
                                                        data-card-type="card-group-secondary-nav"
                                                        data-component-name=""
                                                        data-link-type="Card text"
                                                        data-card-title=""
                                                        data-card-position="0"
                                                >
                                                    Map
                                                </a>
                                            </h3>
                                        </hgroup>

                                        <a
                                                href="/search/catalogue/?group=community&vis_view=map"
                                                class="tna-card__image-container"
                                                tabindex="-1"
                                                title=""
                                                data-card-type="card-group-secondary-nav"
                                                data-component-name=""
                                                data-link-type="Card image"
                                                data-card-title=""
                                                data-card-position="0"
                                        >
                                            <picture class="tna-card__image">
                                                <img src="/static/images/ohos-homepage-maps.jpg" alt=""  />
                                            </picture>
                                        </a>

                                        <div class="tna-card__body">
                                            <p>Find community history for places of interest to you across the UK and beyond.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
                                <div class="tna-card" data-module="tna-card">
                                    <div class="tna-card__inner">
                                        <hgroup class="tna-hgroup-s tna-card__heading">
                                            <h3 class="tna-hgroup__title">
                                                <a
                                                        href="/search/catalogue/?group=community&vis_view=timeline&timeline_type=century"
                                                        class="tna-card__heading-link"
                                                        data-card-type="card-group-secondary-nav"
                                                        data-component-name=""
                                                        data-link-type="Card text"
                                                        data-card-title=""
                                                        data-card-position="1"
                                                >
                                                    Timeline
                                                </a>
                                            </h3>
                                        </hgroup>

                                        <a
                                                href="/search/catalogue/?group=community&vis_view=timeline&timeline_type=century"
                                                class="tna-card__image-container"
                                                tabindex="-1"
                                                title=""
                                                data-card-type="card-group-secondary-nav"
                                                data-component-name=""
                                                data-link-type="Card image"
                                                data-card-title=""
                                                data-card-position="1"
                                        >
                                            <picture class="tna-card__image">
                                                <img src="/static/images/ohos-homepage-timeline.jpg" alt=""  />
                                            </picture>
                                        </a>

                                        <div class="tna-card__body">
                                            <p>See how community history ranges across different time periods.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
                                <div class="tna-card" data-module="tna-card">
                                    <div class="tna-card__inner">
                                        <hgroup class="tna-hgroup-s tna-card__heading">
                                            <h3 class="tna-hgroup__title">
                                                <a
                                                        href="/search/catalogue/?group=community&vis_view=tag"
                                                        class="tna-card__heading-link"
                                                        data-card-type="card-group-secondary-nav"
                                                        data-component-name=""
                                                        data-link-type="Card text"
                                                        data-card-title=""
                                                        data-card-position="2"
                                                >
                                                    Related tags
                                                </a>
                                            </h3>
                                        </hgroup>

                                        <a
                                                href="/search/catalogue/?group=community&vis_view=tag"
                                                class="tna-card__image-container"
                                                tabindex="-1"
                                                title=""
                                                data-card-type="card-group-secondary-nav"
                                                data-component-name=""
                                                data-link-type="Card image"
                                                data-card-title=""
                                                data-card-position="2"
                                        >
                                            <picture class="tna-card__image">
                                                <img src="/static/images/ohos-homepage-tags.jpg" alt=""  />
                                            </picture>
                                        </a>

                                        <div class="tna-card__body">
                                            <p>Use AI-generated tags to uncover connections to people, places and organisations of the past.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'scripts/home_page.js' %}"></script>
{% endblock %}
