{% extends "base.html" %}

{% load static datalayer_tags records_tags %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer record %}
{% endblock extra_gtm_js %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    {% include "includes/records/record-cta-panel.html" %}

    <div class="tna-container">
        <div class="tna-column tna-column--full">
            {% include "includes/records/record-title.html" %}

            <h2 id="record-details-heading" class="tna-heading-l">Description and record details</h2>
        </div>
    </div>

    <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny">
            <div class="record-details">
                <table class="record-details__table">
                    <tbody>
                        {% if record.group == bucketkeys.COMMUNITY.value %}
                            {% include "includes/records/record-details-community.html" %}
                        {% else %}
                            {% include "includes/records/record-details.html" %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if record.held_by %}
            <p class="record-licencing-notice">For licensing enquiries about this item, please contact <strong>{{ record.held_by }}</strong> directly.</p>
            {% else %}
            <p class="record-licencing-notice">For licensing enquiries about this item, please contact the community archive that holds it.</p>
            {% endif %}
        </div>

            <div class="tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny">
                {% if record.group == bucketkeys.COMMUNITY.value and record.has_enrichment %}
                {% include "includes/related-tags.html" %}
                {% endif %}
                <div class="takedown-request">
                    <h2 class="tna-heading-m">Takedown request</h2>
                    <p>To request the removal of content from OHOS, email us at <a href="mailto:ohostakedowns@nationalarchives.gov.uk">ohostakedowns@nationalarchives.gov.uk</a></p>
                </div>
            </div>
    </div>

    {% if record.group != bucketkeys.COMMUNITY.value %}
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                {% if record.hierarchy %}
                    {% if record.hierarchy|length > 2 %}
                        <h2 class="tna-heading-l">This record is in the series</h2>

                        {% include "includes/records/record-series-panel.html" %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/details.js' %}"></script>
    <script src="{% static 'scripts/wikidata_overlays.js' %}"></script>
{% endblock %}
