@use "@nationalarchives/frontend/nationalarchives/tools/typography";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";

.event-tags {
    margin-bottom: 1rem;
    padding: 0;

    align-self: flex-start;

    display: inline-flex;
    flex-basis: 50%;

    list-style-type: none;

    border: 2px solid colour.brand-colour("pastel-pink");

    order: 2;

    &__tag {
        @include typography.relative-font-size(14);
        @include typography.detail-font;
        padding: 0 0.4rem;

        display: flex;
        align-items: center;

        text-transform: uppercase;

        &--event-type {
            @include colour.plain;
            background-color: colour.brand-colour("pastel-pink");
        }

        &--access {
            .event-hero & {
                color: $color--white;
            }
        }
    }
}
