// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;

    overflow: hidden !important;

    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    z-index: -1 !important;

    background-color: transparent !important;

    border: 0 !important;

    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
}

// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
    }
}

.skip-to-content-link {
    background-color: $color__white;
    padding: 0.2rem;
}

mark {
    font-weight: bold;
    background-color: inherit;
    color: inherit;
}

.global-tna-link {
    text-align: right;

    &__link {
        display: inline-block;
        text-decoration: none;
        background: url("/static/images/icons/open-in-new-tab.svg") no-repeat;
        background-position-x: 97.5%;
        background-position-y: 40%;
        padding: 0.5rem 3rem 0.5rem 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
