.taxonomy-tags {
    .taxonomy-tags__list {
        margin-top: 1.5rem;
        padding: 0;

        list-style-type: none;

        li {
            margin: 0 1.25rem 1rem 0;
            padding: 0.5rem 1rem;

            display: inline-block;

            font-size: 1.1rem;

            border: 3px solid $color__grey-500;
        }
    }
}
