.tna-button {
    min-width: 24px;
    // background-color: $color__dark !important;
    // text-decoration: none;
    // color: $color__white !important;
    // border: $default__border;
    // padding: 0.5em 0.9em;
    display: inline-block;

    text-align: center;

    &:visited,
    &:active {
        // background-color: $color__dark !important;
        // color: $color__white !important;
    }

    &:hover {
        // background-color: $color__white !important;
        // color: $color__dark !important;
        // text-decoration: none;
    }

    &:focus {
        // @include focus-default;
    }

    &--primary {
        color: $color__dark !important;

        background-color: $color__white !important;

        &:visited,
        &:active {
            color: $color__dark !important;

            background-color: $color__white !important;
        }

        &:hover {
            color: $color__white !important;
            text-decoration: none;

            background-color: $color__dark !important;
        }
    }

    &--secondary {
        color: $color__black;

        background-color: $color__grey-light !important;

        border-color: $color__grey-light !important;

        &:visited,
        &:active {
            color: $color__black !important;

            background-color: $color__grey-light !important;
        }

        &:hover {
            color: $color__white;
            text-decoration: none;

            background-color: $color__black !important;

            border-color: $color__black !important;
        }
    }
}
