.tna-card {
    &__link {
        width: 100%;

        display: block;

        position: relative;

        text-decoration: none;

        h2,
        h3,
        h4 {
            text-decoration: underline;
        }

        &:hover {
            h2,
            h3,
            h4 {
                text-decoration: none;
            }
        }
    }

    &__image {
        max-width: 100%;

        overflow: hidden;
    }
}
