.search-button {
    min-width: 24px;
    padding: 0.5em 0.9em;

    display: inline-block;

    font-weight: bold;
    text-align: center;
    text-decoration: none;

    border: 2px solid;
    border-color: $color__off-black;

    cursor: pointer;

    &,
    &:visited,
    &:active {
        color: $color__off-black !important;

        background-color: $orange !important;
    }

    &:hover {
        color: $color__white !important;
        text-decoration: none;

        background-color: $color__off-black !important;
    }

    &--primary {
        color: $color__grey-700 !important;

        background-color: $color__white !important;

        &:visited,
        &:active {
            color: $color__grey-700 !important;

            background-color: $color__white !important;
        }

        &:hover {
            color: $color__white !important;
            text-decoration: none;

            background-color: $color__grey-700 !important;
        }
    }

    &--secondary {
        &,
        &:visited,
        &:active {
            color: $color__white !important;

            background-color: $color__off-black !important;
        }

        &:hover {
            color: $color__off-black;
            text-decoration: none;

            background-color: $color__grey-200 !important;

            border-color: currentColor !important;
        }
    }
}
