@use "@nationalarchives/frontend/nationalarchives/tools/colour";

.tag-frequency {
    margin-bottom: 1.5rem;

    &__tags {
        padding: 0.75rem;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        font-size: 1rem;

        background-color: #c2c2c2;

        border: 1px solid #8a8a8a;

        @media screen and (max-width: $screen__md) {
            flex-direction: column;
        }
    }

    &__tags-list {
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.75rem;

        list-style: none;
    }

    &__form {
        position: relative;
    }

    &__form-controls {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
    }

    &__chart {
        height: 550px;

        background-color: $color__grey-300;

        border: 1px solid #8a8a8a;

        &:not(:first-child) {
            border-top: 0;
        }

        &:not(:last-child) {
            border-bottom: 0;
        }

        a {
            border-radius: 50%;
        }
    }

    &__info {
        padding: 0.5rem 1rem;

        display: flex;
        align-items: center;

        background-color: $color__yellow;

        border: 1px solid $color__off-black;

        &-icon {
            @include colour.colour-font("font-dark");
            padding-right: 0.5rem;
        }
    }
}

.clear-apply {
    position: relative;
    top: 70px;
    left: 250px;

    background: black;

    border-radius: 5px;
}
