<!--visualisation secondary navigation-->
<div class="tna-container">
    <ul class="search-buckets__list" data-id="search-buckets-list">
        <li class="search-buckets__list-item">
            <a href="/" class="search-buckets__link">
                <i class="fa-solid fa-list fa-xl"></i> List view
            </a>
        </li>
        <li class="search-buckets__list-item" data-current="false">
            <a href="/" class="search-buckets__link">
                <i class="fa-solid fa-location-dot fa-xl"></i> Map view
            </a>
        </li>
        <li class="search-buckets__list-item" data-current="false">
            <a href="/" class="search-buckets__link">
                <i class="fa-sharp fa-solid fa-chart-simple fa-xl"></i> Timeline view
            </a>
        </li>
        <li class="search-buckets__list-item" data-current="false">
            <a href="/" class="search-buckets__link">
                <i class="fa-solid fa-circle fa-xl"></i> Tag view
            </a>
        </li>
    </ul>
</div>
<!-- end visualisation secondary navigation-->
